/* inter-regular - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-latin_cyrillic-400.woff2") format("woff2"),
       url("../fonts/inter-latin_cyrillic-400.woff") format("woff");
}
/* inter-700 - cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-cyrillic-700.woff2") format("woff2"),
       url("../fonts/inter-cyrillic-700.woff") format("woff");
  font-display: swap;
}
/* inter-900 - cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-cyrillic-900.woff2") format("woff2"),
       url("../fonts/inter-cyrillic-900.woff") format("woff");
  font-display: swap;
}

/* общие стили */

*, *::after, *::before {
  box-sizing: border-box;
}



.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* min-width: 1366px; */
  width: 100%;
  margin: 0;

  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #2D3440;

  background-color: #FEAFC3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

/* header */

.page__header--inner {
  margin-bottom: 32px;
}

.page-header__navigation {
  display: flex;
  align-items: center;
  min-height: 104px;
  padding: 24px 0;
}

.page-header__logo {
  margin-right: 16px;
}

.page-header__site-menu {
  max-width: 570px;
  margin: 0 auto 0 0;
}

.page-header__phone {
  margin-right: 18px;
}

.page-header__search {
  margin-right: 16px;
}

.page-header__user-menu {
  max-width: 350px;
  margin: 0;
}

/* main */

.page__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page__content--inner {
  margin-bottom: 40px;
}

.page-main__section {
  margin-bottom: 80px;
}

.page-main__section:last-child {
  margin-bottom: 0;
}

.page-inner__section {
  margin-bottom: 40px;
}

.page-inner__section:last-child {
  margin-bottom: 0;
}

.page-inner__header {
  display: grid;
  gap: 16px;
}

.page-inner__title {
  margin: 0;

  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.page-inner__breadcrumbs {
  grid-row: 1 / 2;

  margin: 0;
}

/* footer  */

.page-footer {
  display: flex;
  align-items: flex-start;
  min-height: 153px;
  padding: 48px 4px;
}

.page-footer--inner {
  border-top: 1px solid rgba(252, 252, 252, 0.3);
}

.page-footer__social {
  width: 345px;
  margin: 0 82px 0 0;
}

.page-footer__commerce {
  max-width: 420px;
  margin: 0 auto 0 0;
}


.page-footer__partner-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 14px;
  width: 203px;
}

.page-footer__partner-logo {
  display: block;
  width: 93px;
  height: 27px;
}

.page-footer__partner-img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.page-footer__partner-text {
  margin: 0;

  font-size: 12px;
  line-height: 16px;
}

.page-footer__partner-link {
  display: inline-block;

  line-height: 14px;
  color: inherit;
  text-decoration: none;

  border-bottom: 1px solid rgba(45, 52, 64, 0.5);
}

/* logo */

.logo {
  display: block;
  width: 137px;
  height: 56px;
}

/* site-menu */

.site-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  list-style-type: none;
}

.site-menu__link {
  display: block;
  padding: 8px 16px;

  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.site-menu__link--current {
  color: #FCFCFC;

  background-color: #FF4A78;
  border-radius: 26px;
}

/* phone */

.phone-link {
  font-weight: 700;
  color: #2D3440;
  text-decoration: none;
}

.phone-link--size-s {
  display: block;
  min-width: 148px;

  font-size: 16px;
  line-height: 20px;
}

.phone-link--size-m {
  font-size: 20px;
  line-height: 24px;
}

/* user menu */

.user-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  list-style-type: none;
}

.user-menu__item:not(:last-child) {
  margin-right: 16px;
}

/* social */

.social {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  list-style-type: none;
}

.social__item:not(:last-child) {
  margin-right: 16px;
}

.social__link {
  display: block;
  width: 24px;
  height: 24px;

  background-position: center;
  border: 2px solid #FFCBD8;
  border-radius: 50%;
}

.social__link--vk {
  background-image: url("../img/icons/vk.svg");
}

.social__link--facebook {
  background-image: url("../img/icons/facebook.svg");
}

.social__link--instagram {
  background-image: url("../img/icons/instagram.svg");
}

/* breadcrumbs */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  list-style-type: none;
}

.breadcrumbs__item {
  margin-right: 28px;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__link {
  position: relative;

  display: block;

  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #2D3440;
  text-decoration: none;

  border-bottom: 1px solid #2D3440;
}

.breadcrumbs__link[href]::after {
  position: absolute;

  width: 12px;
  height: 12px;
  top: 5px;
  right: -20px;

  content: "";

  background-image: url("../img/icons/breadcrumbs-arrows.svg");
  background-repeat: no-repeat;

  cursor: auto;
}

.breadcrumbs__link:not([href]) {
  border: none;
}

/* carousel */

.carousel {
  position: relative;
}

.carousel__list {
  position: relative;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.carousel__slide {
  display: flex;
  align-items: center;
  padding-left: 65px;
}

.carousel__slide--inactive {
  position: absolute;
  top: 0;

  opacity: 0.4;
  clip-path: inset(0 0 0 540px);
  transform: scale(0.32);
}

.carousel__slide--2 {
  left: 448px;
}

.carousel__slide--3 {
  left: 589px;
}

.carousel__offer {
  width: 460px;
  margin-right: 13px;
}

.carousel__img-container {
  position: relative;

  display: block;
  width: 348px;
  height: 528px;
  padding: 21px 21px 0;
}

.carousel__img-container::before {
  position: absolute;
  top: 50%;

  width: 312px;
  height: 312px;

  content: "";

  background-color: #FFCBD8;
  border-radius: 50%;

  transform: translateY(-46%);
}

.carousel__img-container > * {
  position: relative;
  z-index: 1;
}

.carousel__img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.carousel__control {
  position: absolute;

  content: "";
}

.carousel__control--prev {
  top: 257px;
  left: 542px;
}

.carousel__control--next {
  top: 257px;
  left: 854px;
}

.carousel__pagination-and-social-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.carousel__pagination {
  gap: 8px;

  margin: 0;
}

.carousel__social {
  margin: 0;
}

/* offer */

.offer {
  display: grid;
  grid-template-rows:
    auto
    1fr
    auto;
  justify-items: start;
}


.offer__title {
  margin: 0;

  color: #2D3440;
}

.offer__title--size-l {
  margin-bottom: 25px;
  padding-top: 27px;
  padding-left: 4px;

  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
}

.offer__title--size-m {
  margin-bottom: 16px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.offer__text--size-l {
  margin-bottom: 31px;
  padding-left: 4px;
}

.offer__text--size-m {
  margin-bottom: 11px;
}

.offer__text-unit {
  margin: 0;
}

.offer__text-unit--size-l {
  margin-bottom: 12px;

  font-size: 18px;
  line-height: 24px;
}

.offer__text-unit--size-m {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 22px;
}

/* pagination */

.pagination {
  display: flex;
  flex-wrap: wrap;

  padding: 0;

  list-style-type: none;
}

/* feature */

.feature {
  display: flex;
  flex-direction: column;
}

.feature--accent {
  position: relative;

  padding: 80px 64px;

  background-image: url("../img/pattern@1x.jpg");
  background-size: 144px 73px;
  border-radius: 16px;
}

.feature--accent::before {
  position: absolute;
  top: 24px;
  right: 24px;
  bottom: 24px;
  left: 24px;

  content: "";

  background-color: #FCFCFC;
  border-radius: inherit;
}

.feature--accent > * {
  position: relative;
  z-index: 1;
}

.feature__title {
  margin: 0 0 56px 0;

  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.feature__content {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  gap: 40px 30px;
}

.feature__card {
  border-radius: 16px;
}

.feature__product-list {
  margin: 0;
}

.feature__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 30px;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.feature__text-unit {
  margin: 0;

  color: #565C66;
}

.feature__text-unit--with-icon {
  display: grid;
  grid-template-columns: 48px 1fr;
  gap: 16px;
}

.feature__text-unit--with-icon::before {
  grid-column: 1 / 2;

  display: block;
  width: 48px;
  height: 48px;

  content: "";

  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #2D3440;
	border-radius: 50%;
}

.feature__text-unit-with-icon-1::before {
  background-image: url("../img/icons/eskimo.svg");
}

.feature__text-unit-with-icon-2::before {
  background-image: url("../img/icons/cow.svg");
}

.feature__text-unit-with-icon-3::before {
  background-image: url("../img/icons/leaf.svg");
}

.feature__text-unit-with-icon-4::before {
  background-image: url("../img/icons/thermometer.svg");
}



/* ad-card: элемент анонсов/промо/объявлений */

.ad-card {
  padding: 40px;

  background-color: #FF7799;
}

.ad-card--option-1 {
  background-image: url("../img/free_raspberry@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.ad-card--option-2 {
  background-image: url("../img/free_marshmallow@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.ad-card__offer {
  width: 320px;
  height: 100%;
}

/* post-card: класс для блоков рассылки/постов */

.post-card {
  min-height: 216px;
  padding: 32px;

  background-color: #FCFCFC;
}

.post-card--post-1 {
  background-image: url("../img/fruit_sorbet@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.post-card--accent {
  position: relative;

  background-image: url("../img/linear-pattern@1x.jpg");
}

.post-card--accent::before {
  position: absolute;
  top: 6px;
  right: 6px;
  bottom: 6px;
  left: 6px;

  content: "";

  background-color: #FCFCFC;
  border-radius: inherit;
}

.post-card--accent > * {
  position: relative;
  z-index: 1;
}

.post-card__content {
  display: grid;
  height: 100%;
}

.post-card__text-unit {
  margin: 0 0 12px;

  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.post-card__title-link {
  text-decoration: none;
}

.post-card__title {
  width: 305px;
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2D3440;
}

/* pictorial-section */

.pictorial-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px;

  background-size: cover;
  border-radius: 16px;
}

.pictorial-section--delivery {
  min-height: 534px;

  background-color: #F5F5F5;
  background-image: url("../img/assorted@1x.jpg");
  background-repeat: no-repeat;
}

.pictorial-section--contacts {
  min-height: 492px;

  background-image: url("../img/icecream_cones@1x.jpg");
  background-repeat: no-repeat;
}

.pictorial-section__text--delivery {
  max-width: 410px;
  padding-left: 36px;
}

.pictorial-section__title {
  margin: 0 0 24px;

  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: left;
}

.pictorial-section__text-unit {
  margin: 0;

  color: #565C66;
}

/* deal-card: класс для блоков с формой заказа и контактами */

.deal-card {
  padding: 40px;

  background-color: #FCFCFC;
  border-radius: 16px;
}

.deal-card--delivery {
  max-width: 500px;
}

.deal-card--contacts {
  margin-right: auto;

  max-width: 343px;
}

.deal-card__text {
  margin: 0;
}

.deal-card__text-unit {
  margin: 0 0 12px 0;

  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.deal-card__address {
  margin-bottom: 32px;

  font-style: normal;
}

.deal-card__address-text {
  display: block;
  margin-bottom: 24px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #2D3440;
}

.deal-card__comment {
  font-size: 14px;
  line-height: 20px;
}

/* формы*/

/* subscribe-form */

.subscribe-form {
  align-self: end;

  display: grid;
  grid-template-columns: 1fr auto;
  gap: 24px;
}

.subscribe-form__field {
  width: 100%;
  padding: 14px 16px;
}

.subscribe-form__field::placeholder {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #B9B9B9;
}

/* order-form */

.order-form {
  display: grid;
}

.order-form__label {
  line-height: 20px;
  font-weight: 700;
}

.order-form__field::placeholder {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #B9B9B9;
}

.order-form__button {
  justify-self: center;
}

/* catalog */

.catalog__filters {
  margin-bottom: 48px;
}

.catalog__product-list {
  margin: 0 0 16px;
}

.catalog__controls-wrapper {
  display: flex;
  padding: 37px 0;
}

.catalog__button {
  margin-left: 50%;

  transform: translateX(-50%);
}

.catalog__pagination-wrapper {
  display: flex;
  align-items: center;
  max-width: 395px;
  margin-left: auto;
}

.catalog__pagination {
  margin: 0 12px;
  justify-content: center;
}

/* catalog-form */

.catalog-form {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter {
  display: grid;
  padding: 0;

  border: none;
}

.catalog-filter__label,
.catalog-filter__title,
.catalog-filter__select {
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter__wrapper {
  padding: 8px 16px;

  background-color: #FFCBD8;
  border: none;
  border-radius: 20px;
}

.catalog-filter__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0;

  list-style-type: none;
}

.catalog-filter__select {
  min-height: 36px;
}

.catalog-filter__field {
  max-width: 30px;

  background-color: transparent;
  border: none;
}

.catalog-filter__field::placeholder {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2D3440;
}

.catalog-filter__range-toggle {
  position: relative;

  width: 16px;
  height: 16px;

  background-color: #2D3440;
  border: 1px solid transparent;
  border-radius: 50%;
}

.catalog-filter__range-toggle::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 4px;
  height: 4px;

  content: "";

  background-color: #FCFCFC;
  border-radius: 50%;

  transform: translateX(-50%) translateY(-50%);
}

/* product-list */

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 40px 30px;
  padding: 0;

  list-style-type: none;
}

/* product-card: блок для продукции */

.product-card {
  position: relative;

  display: grid;
  grid-template-areas:
    "img img"
    "title title"
    "desc desc"
    "price btn";
  grid-template-rows:
    auto
    auto
    1fr
    auto;
  grid-template-columns: 1fr auto;
  justify-items: center;
  padding: 0 40px 28px;

  text-align: center;
}

.product-card::before {
  position: absolute;
  top: 49px;
  right: 0;
  bottom: 4px;
  left: 0;

  content: "";

  background-color: #FCFCFC;
  border-radius: 8px;
}

.product-card > * {
  position: relative;
  z-index: 1;
}

.product-card__title {
  grid-area: title;
  align-self: start;

  max-width: 190px;
  margin: 0;
  margin-bottom: 8px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  overflow: hidden;

  overflow-wrap: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.product-card__description {
  grid-area: desc;

  max-width: 190px;
  margin: 0;
  margin-bottom: 16px;

  color: #565C66;
  overflow: hidden;
}

.product-card__img-container {
  grid-area: img;

  margin-bottom: 9px;
}

.product-card__img {
  border-radius: 50%;
}

.product-card__price {
  grid-area: price;
  justify-self: start;

  margin: 0;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.product-card__button {
  grid-area: btn;
  justify-self: end;
}

/* commerce */

.commerce {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 8px 24px;
  padding: 0;

  list-style-type: none;
}

.commerce__link {
  display: block;

  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.commerce__link--favor {
  position: relative;

  font-weight: 700;
}

.commerce__link--favor::before {
  position: absolute;
  top: 4px;
  left: -22px;

  display: block;
  width: 14px;
  height: 13px;

  content: "";

  background-image: url("../img/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* кнопки */

.button {
  align-self: center;

  display: grid;
  max-width: 300px;
	align-items: center;
	justify-content: center;

	font-family: "Inter", "Arial", sans-serif;
	font-size: 16px;
  font-style: normal;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #2D3440;
  text-decoration: none;

	border-radius: 26px;
  cursor: pointer;
}

/* кнопки с svg-иконками */

.button--iconic {
	width: 32px;
	height: 32px;
  padding: 0;

	border: 2px solid transparent;
}
.button--search {
  background-image: url("../img/icons/search.svg");
}

.button--light {
  background-color: #FFCBD8;
}

.button--bright {
  background-color: #FF2F64;
}

.button__icon--dark {
  fill: #2D3440;
}

.button__icon--light {
  fill: #FCFCFC;
}

/* button--text-with-icon */

.button--text-with-icon {
  grid-template-columns: repeat(2, auto);
  gap: 6px;
  padding: 4.5px 15px;
  border: 2px solid transparent;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2D3440;
}

/* button prime */

.button--prime {
	min-width: 110px;
	min-height: 44px;
	padding: 12px 32px;

	background-color: #FCFCFC;
	border: 4px solid #FFCBD8;
}

/* button-dotes */

.button--dotes {
	width: 12px;
	height: 12px;
  padding: 0;

	background-color: #FFCBD8;
	border: 1px solid transparent;
}

/* button--accent */

.button--accent {
	min-width: 110px;
	min-height: 44px;
	padding: 12px 32px;

	color: #fcfcfc;

	background-color: #FF2F64;
	border: 4px solid #FEAFC3;
}

/* button-pagination */

.button--pagination {
	min-width: 24px;
	min-height: 24px;
	padding: 2px 7px;

	background-color: transparent;
	border: 1px solid transparent;
}

.button--pagination-arrow {
  padding: 4px;
}

/* button-minor */

.button--minor {
	min-width: 105px;
	min-height: 36px;
	padding: 8px 32px;

	font-size: 14px;

	background-color: #FFCBD8;
	border: 2px solid #FCFCFC;
}

/* button-current */

.button--current {
  background-color: #FCFCFC;
}

/* button-control */

.button--control {
	width: 38px;
	height: 38px;
	padding: 9px;
	font-size: 14px;

	background-color: rgba(252, 252, 252, 0.3);
	border: 2px solid #fcfcfc;
}

/* стили при наведении на кнопки */

.button--bright:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #ff2f64;
}

.button--bright:hover .button__icon {
  fill: #2d3440;
}

.button--light:hover {
  background-color: transparent;
  border-color: #FFCBD8;
}

.button--text-with-icon:hover {
  background-color: transparent;
  border-color: #FFCBD8;
}

.button--prime:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border: 4px solid #fcfcfc;
}

.button--accent:hover {
  color: #333333;

  background-color: #fcfcfc;
  border: 4px solid #ff2f64;
}

.button--minor:hover {
  background-color: #fcfcfc;
  border: 2px solid rgba(254, 175, 195, 0.6);
}

.button--control:hover {
  background-color: #fcfcfc;
}

.button--control:hover .button__icon {
  fill: #2d3440;
}

.button--pagination:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border-color: #fcfcfc;
}

.button--pagination-arrow:hover .button__icon {
  fill: #FCFCFC;
}

.button--dotes:hover {
  border-color: #fcfcfc;
}

/* стили при фокусировке на кнопках */

.button:focus {
  border-color: #2d3440;
}

.button--bright:focus {
  background-color: #ff2f64;
}

.button--light:focus {
  background-color: #FFCBD8;
}

.button--text-with-icon:focus {
  background-color: #FFCBD8;
}

.button--prime:focus {
  background-color: #fcfcfc;
}

.button--accent:focus {
  background-color: #ff2f64;
  color: #fcfcfc;
}

.button--minor:focus {
  background-color: rgba(252, 252, 252, 0.3);
}

.button--control:focus {
  background-color: rgba(252, 252, 252, 0.3);
}

.button--pagination-arrow:focus .button__icon {
  opacity: 0.4;
}

.button--dotes:focus {
  background-color: #FFCBD8;
}

/* неактивное сосотояние кнопок */

.button[disabled] {
  pointer-events: none;
}

.button.disabled {
  pointer-events: none;
}

.button[disabled] .button__icon {
  fill: #2D3440;
  opacity: 0.4;
}

.button.disabled .button__icon {
  fill: #2D3440;
  opacity: 0.4;
}

.button--iconic[disabled] {
  background-color: #b9b9b9;
}

.button--prime[disabled] {
  font-weight: 400;
  color: #b9b9b9;
  background-color: #e7e7e7;
  border-color: rgba(254, 175, 195, 0.6);
}

.button--accent[disabled] {
  font-weight: 400;
  color: #565c66;
  background-color: #b9b9b9;
  border: 4px solid rgba(252, 252, 252, 0.3);
}

.button--minor[disabled] {
  background-color: #FFCBD8;
  border: 2px solid #FCFCFC;
  opacity: 0.4;
}

.button--control[disabled] {
  opacity: 0.4;
}

.button--control[disabled] .button__icon {
  fill: #FCFCFC;
}
