/* inter-regular - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-latin-cyrillic-400.woff2") format("woff2"), url("../fonts/inter-latin-cyrillic-400.woff") format("woff");
}
/* inter-700 - cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-cyrillic-700.woff2") format("woff2"), url("../fonts/inter-cyrillic-700.woff") format("woff");
  font-display: swap;
}
/* inter-900 - cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-cyrillic-900.woff2") format("woff2"), url("../fonts/inter-cyrillic-900.woff") format("woff");
  font-display: swap;
}

/* кастомные стили */

:root {
  --basic-extra-dark: #2d3440;
  --basic-dark: #565c66;
  --basic-neutral: #b9b9b9;
  --basic-light: #e7e7e7;
  --basic-extra-light: #fcfcfc;
  --basic-white: #ffffff;
  --accent-extra-bright: #ff2f64;
  --accent-bright: #ff4a78;
  --accent-neutral: #ff7799;
  --accent-light: #feafc3;
  --accent-extra-light: #ffcbd8;
  --accent-blue: #69a9ff;
  --accent-yellow: #fcc850;
  --status-error: #ea5454;
  --status-warning: #fd912e;
  --status-success: #00e484;
  --basic-extra-light-opacity-20: rgba(252, 252, 252, 0.2);
  --basic-extra-light-opacity-30: rgba(252, 252, 252, 0.3);
  --basic-extra-light-opacity-40: rgba(252, 252, 252, 0.4);
  --basic-extra-light-opacity-50: rgba(252, 252, 252, 0.5);
  --basic-extra-dark-opacity-10: rgba(45, 52, 64, 0.1);
  --basic-extra-dark-opacity-12: rgba(45, 52, 64, 0.12);
  --basic-extra-dark-opacity-30: rgba(45, 52, 64, 0.3);
  --basic-extra-dark-opacity-60: rgba(45, 52, 64, 0.6);
  --basic-dark-opacity-30: rgba(86, 92, 102, 0.3);
  --basic-dark-opacity-50: rgba(86, 92, 102, 0.3);
  --basic-neutral-opacity-30: rgba(185, 185, 185, 0.3);
  --accent-extra-light-opacity-60: rgba(254, 175, 195, 0.6);
  --accent-extra-bright-opacity-30: rgba(255, 47, 100, 0.3);
  --special-dark-opacity-18: rgba(173, 152, 143, 0.18);

  --box-shadow-small: 0 4px 12px 0 var(--basic-extra-dark-opacity-10);
  --box-shadow-medium: 0 8px 16px 0 var(--basic-extra-dark-opacity-12);
  --box-shadow-large: 0 15px 40px 0 var(--basic-extra-dark-opacity-12);
  --box-shadow-special-small: 0 2px 12px 0 var(--special-dark-opacity-18);
}

/* общие стили */

*,
*::after,
*::before {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 1366px;
  margin: 0;

  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-extra-dark);
}

.page--background-pink {
  background-color: var(--accent-light);
}

.page--background-blue {
  background-color: var(--accent-blue);
}

.page--background-yellow {
  background-color: var(--accent-yellow);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
  appearance: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

/* кнопки */

.button {
  display: grid;
  max-width: 300px;
  align-self: center;
  align-items: center;
  justify-content: center;

  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-extra-dark);
  text-decoration: none;
  word-break: break-all;

  border: none;
  border-radius: 26px;
  outline: none;
  cursor: pointer;

  transition: 0.2s linear;
}

/* кнопки с svg-иконками */

.button--iconic {
  width: 32px;
  height: 32px;
  padding: 0;

  border-width: 2px;
  border-style: solid;
}

.button--light {
  background-color: var(--basic-extra-light-opacity-30);
  border-color: transparent;
}

.button--bright {
  background-color: var(--accent-extra-bright);
  border-color: var(--accent-extra-bright);
}

.button__icon {
  transition: 0.2s linear;
}

.button__icon--dark {
  fill: var(--basic-extra-dark);
}

.button__icon--light {
  fill: var(--basic-extra-light);
}

/* button--text-with-icon */

.button--text-with-icon {
  grid-template-columns: repeat(2, auto);
  gap: 6px;
  padding: 4px 14px;

  font-size: 14px;
  font-weight: 400;

  border-width: 2px;
  border-style: solid;
}

.user-menu__item:first-child .button--text-with-icon {
  padding-right: 16.5px;
}

/* button prime */

.button--prime {
  min-width: 110px;
  min-height: 44px;
  padding: 12px 32.5px;

  background-color: var(--basic-extra-light);
  outline: 4px solid var(--basic-extra-light-opacity-40);
  box-shadow: var(--box-shadow-small);
}

/* button-dot */

.button--dot {
  width: 12px;
  height: 12px;
  padding: 0;

  background-color: var(--basic-extra-light-opacity-30);
  outline: 1px solid transparent;
}

/* button--accent */

.button--accent {
  min-width: 110px;
  min-height: 44px;
  padding: 12px 32px;

  color: var(--basic-extra-light);
  background-color: var(--accent-extra-bright);
  outline: 4px solid var(--accent-extra-bright-opacity-30);
  box-shadow: var(--box-shadow-small);
}

/* спиннер для кнопок */

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinning {
  grid-template-columns: repeat(2, auto);
  gap: 8px;
  pointer-events: none;
}

.spinning::after {
  width: 16px;
  height: 16px;
  grid-column: 2 / 3;
  content: "";

  background-color: transparent;
  border-radius: 50%;

  animation: infinite-spinning 1.5s infinite linear;
}

.button--prime.spinning::after {
  background-image: url("../img/icons/spinner-prime.svg");
}

.button--accent.spinning::after {
  background-image: url("../img/icons/spinner-accent.svg");
}

/* button-pagination */

.button--pagination {
  min-width: 24px;
  min-height: 24px;
  font-weight: 400;

  background-color: transparent;
  border-radius: 50%;
  outline: 1px solid transparent;
}

.button--pagination-arrow-prev {
  margin-right: 16px;
}

.button--pagination-arrow-next {
  margin-left: 16px;
}

/* button-minor */

.button--minor {
  min-width: 187px;
  min-height: 36px;
  padding: 8px 32px;

  font-size: 14px;

  background-color: var(--basic-extra-light-opacity-30);
  outline: 2px solid var(--basic-extra-light);
}

/* button-current */

.button--current {
  background-color: var(--basic-extra-light);
  pointer-events: none;
}

/* button-control */

.button--control {
  width: 38px;
  height: 38px;
  padding: 9px;

  border: 2px solid var(--basic-extra-light);
}

/* стили при наведении на кнопки */

.button--bright:hover {
  background-color: var(--basic-extra-light-opacity-30);
  border-color: var(--accent-extra-bright);
}

.button--bright:hover .button__icon {
  fill: var(--basic-extra-dark);
}

.button--light:hover {
  background-color: var(--basic-extra-light-opacity-50);
  border-color: transparent;
}

.button--prime:hover {
  background-color: var(--basic-extra-light-opacity-40);
  outline: 4px solid var(--basic-extra-light);
}

.button--accent:hover {
  color: var(--basic-extra-dark);
  background-color: var(--basic-extra-light-opacity-30);
  outline: 4px solid var(--accent-extra-bright);
}

.button--minor:hover {
  background-color: var(--basic-extra-light);
  outline: 2px solid var(--basic-extra-light-opacity-30);
}

.button--control:hover {
  background-color: var(--basic-extra-light);
}

.button--control:hover .button__icon {
  fill: var(--basic-extra-dark);
}

.button--pagination:hover {
  background-color: var(--basic-extra-light-opacity-30);
  outline-color: var(--basic-extra-light);
}

.button--pagination-arrow:hover .button__icon {
  fill: var(--basic-extra-light);
}

.button--dot:hover {
  outline-color: var(--basic-extra-light);
}

/* стили при фокусировке на кнопках */

.button:focus {
  outline-color: var(--basic-extra-dark);
  outline-offset: 0;
}

.button--bright:focus {
  background-color: var(--accent-extra-bright);
  border-color: var(--basic-extra-dark);
  outline: none;
}

.button--light:focus {
  background-color: var(--basic-extra-light-opacity-50);
  border-color: var(--basic-extra-dark);
  outline: none;
}

.button--prime:focus {
  background-color: var(--basic-extra-light);
}

.button--accent:focus {
  background-color: var(--accent-extra-bright);
  color: var(--basic-extra-light);
}

.button--minor:focus {
  background-color: var(--basic-extra-light-opacity-30);
}

.button--control:focus {
  background-color: var(--basic-extra-light-opacity-30);
  border-color: var(--basic-extra-dark);
}

.button--control:focus .button__icon {
  fill: var(--basic-extra-dark);
}

.button--pagination:focus {
  background-color: var(--basic-extra-light-opacity-30);
}

.button--pagination-arrow:focus .button__icon {
  fill: var(--basic-extra-light);
}

.button--dot:focus {
  background-color: var(--basic-extra-light-opacity-30);
}

/* активное состояние кнопок */
.button--light:active {
  background-color: var(--basic-extra-light);
  border-color: var(--basic-extra-light);
  outline: none;
}

.button--pagination-arrow:active .button__icon {
  fill: var(--basic-light);
}

.button--dot:active {
  outline-color: var(--basic-extra-light);
}

/* неактивное сосотояние кнопок */

.button[disabled] {
  pointer-events: none;
}

.button[disabled] .button__icon,
.button[disabled]:hover .button__icon {
  fill: var(--basic-dark);
}

.button--iconic[disabled],
.button--iconic[disabled]:hover {
  background-color: var(--basic-neutral);
  border-color: var(--basic-neutral);
}

.button--prime[disabled],
.button--prime[disabled]:hover {
  font-weight: 400;
  color: var(--basic-neutral);

  background-color: var(--basic-light);
  outline-color: var(--basic-extra-light-opacity-40);
}

.button--accent[disabled],
.button--accent[disabled]:hover {
  font-weight: 400;
  color: var(--basic-dark);

  background-color: var(--basic-neutral);
  outline: 4px solid var(--basic-neutral-opacity-30);
}

.button--minor[disabled],
.button--minor[disabled]:hover {
  background-color: var(--basic-extra-light-opacity-30);
  outline: 2px solid var(--basic-extra-light);
  opacity: 0.4;
}

.button--control[disabled],
.button--control[disabled]:hover {
  opacity: 0.4;
}

.button--control[disabled] .button__icon,
.button--control[disabled] .button__icon:hover {
  fill: var(--basic-extra-light);
}

.button--pagination-arrow.disabled {
  opacity: 0.2;
}

/* общие стили полей форм */

.form-field {
  align-self: center;

  padding: 13px 15px;

  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  border: 1px solid var(--basic-neutral);
  border-radius: 4px;
  cursor: pointer;

  transition: 0.2s linear;
}

.form-field:hover {
  border-color: var(--basic-extra-dark);
}

.form-field:focus {
  outline: 1px solid var(--basic-extra-dark);
  border-color: var(--basic-extra-dark);
}

.form-field:focus:hover {
  border-color: var(--basic-extra-dark);
}

.form-field:disabled {
  color: var(--basic-extra-dark);

  background-color: var(--basic-light);
  pointer-events: none;
}

.form-field:disabled::placeholder {
  color: var(--basic-neutral);
}

.form-field.without-conditions:hover {
  border-color: var(--basic-neutral);
}

.form-field.without-conditions:focus {
  outline: none;
  border-color: var(--basic-neutral);
}

.form-field.without-conditions:focus:hover {
  border-color: var(--basic-neutral);
}

/*

Стили полей при отправке некорректных значений в формах

.form-field:invalid {
  border: 1px solid var(--status-error);
}

 .form-field:invalid:hover {
  border: 1px solid var(--status-error);
  outline: 1px solid var(--status-error);
}

.form-field:invalid:focus {
  outline: 1px solid var(--status-error);
}

*/

/* header */

.page__header--inner {
  margin-bottom: 32px;
}

.page-header__navigation {
  display: flex;
  flex-wrap: wrap;
  min-height: 104px;
  padding: 24px 0;
  align-items: center;
}

.page-header__logo {
  margin-right: 16px;
  transition: 0.2s linear;
}

.page-header__site-menu {
  max-width: 535px;
  margin: 0 auto 0 0;
}

.page-header__phone {
  margin-right: 2px;
}

.page-header__search {
  position: relative;
  margin-right: 16px;
}

.page-header__user-menu {
  max-width: 350px;
  margin: 0;
}

/* main */

.page__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page__content--inner {
  margin-bottom: 35px;
}

.page-main__section {
  align-self: center;
  margin-bottom: 81px;
}

.page-main__section:last-child {
  margin-bottom: 0;
}

.page-main__pictorial {
  align-self: center;
  margin-bottom: 80px;
}

.page-main__pictorial:last-child {
  margin-bottom: 0;
}

.page-inner__section {
  margin-bottom: 39px;
}

.page-inner__section:last-child {
  margin-bottom: 0;
}

.page-inner__header {
  display: grid;
  gap: 17px;
}

.page-inner__title {
  max-width: 1170px;
  margin: 0;

  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  word-wrap: break-word;
}

.page-inner__breadcrumbs {
  grid-row: 1 / 2;
  margin: 0;
}

/* footer  */

.page-footer {
  display: flex;
  flex-wrap: wrap;
  min-height: 153px;
  padding: 45px 4px;
  align-items: flex-start;
}

.page-footer--inner {
  border-top: 1px solid var(--basic-extra-light-opacity-30);
}

.page-footer__social {
  width: 345px;
  margin: 3px 82px 3px 0;
}

.page-footer__commerce {
  max-width: 420px;
  margin: 3px auto 3px 0;
}

.page-footer__partner-wrapper {
  display: grid;
  width: 203px;
  margin-top: 3px;
  margin-bottom: 3px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 14px;
}

.page-footer__partner-logo {
  display: block;
  width: 93px;
  height: 27px;

  transition: 0.2s linear;
}

.page-footer__partner-logo:hover {
  opacity: 0.6;
}

.page-footer__partner-logo:active {
  opacity: 0.3;
}

.page-footer__partner-img {
  display: block;
  object-fit: contain;
}

.page-footer__partner-text {
  width: inherit;
  margin: 0;

  font-size: 12px;
  line-height: 16px;
  word-wrap: break-word;
}

.page-footer__partner-link {
  display: inline-block;
  max-width: 100%;

  line-height: 14px;
  color: inherit;
  word-wrap: break-word;
  text-decoration: none;

  border-bottom: 1px solid var(--basic-dark-opacity-50);
}

.page-footer__partner-link:hover {
  opacity: 0.6;
}

.page-footer__partner-link:active {
  opacity: 0.3;
}

/* logo */

.logo {
  display: block;
  width: 137px;
  height: 56px;
}

.logo__img {
  object-fit: contain;
}

/* site-menu */

.site-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  list-style-type: none;
}

.site-menu__item {
  position: relative;
}

.site-menu__link {
  display: block;
  max-width: 535px;
  padding: 6px 14.5px;

  line-height: 20px;
  color: var(--basic-extra-dark);
  text-decoration: none;
  word-wrap: break-word;

  border: 2px solid transparent;
  border-radius: 26px;
  outline: none;
  cursor: pointer;

  transition: 0.2s linear;
}

.site-menu__link:hover {
  background-color: var(--basic-extra-light-opacity-50);
}

.site-menu__link:focus {
  background-color: var(--basic-extra-light-opacity-50);
  border-color: var(--basic-extra-dark);
}

.site-menu__link:active {
  background-color: var(--basic-extra-light);
  border-color: transparent;
}

.site-menu__link.current,
.site-menu__link.current:hover {
  color: var(--accent-extra-light);

  background-color: var(--accent-bright);
  border-color: transparent;
}

.site-menu__link.current:focus {
  background-color: var(--accent-bright);
  border-color: var(--basic-extra-dark);
}

.site-menu__link.current:active {
  color: var(--accent-extra-light);

  background-color: var(--accent-bright);
  border-color: transparent;
}

.site-menu__item:hover .site-menu__link--with-popup:not(.current),
.site-menu__item:focus-within .site-menu__link--with-popup:not(.current) {
  background-color: var(--basic-extra-light);
}

.site-menu__link--with-popup:not(.current):focus {
  background-color: var(--basic-extra-light);
  border-color: var(--basic-extra-dark);
}

.site-menu__link--with-popup:not(.current):active {
  background-color: var(--basic-extra-light);
  border-color: transparent;
}

/* выпадающее меню "Каталог"*/

.site-menu__popup {
  position: absolute;
  top: 100%;
  left: 0;

  display: none;
  padding-top: 8px;

  transition: 0.2s linear;
}

.site-menu__item:hover .site-menu__popup,
.site-menu__item:focus-within .site-menu__popup,
.site-menu__link:focus + .site-menu__popup {
  display: block;
}

.popup-menu {
  position: relative;
  z-index: 2;

  min-width: 138px;
  max-width: 300px;
  padding-top: 16px;
  padding-bottom: 10px;

  background-color: var(--basic-extra-light);
  border-radius: 4px;
  box-shadow: var(--box-shadow-medium);
}

.popup-menu__title {
  margin: 0 16px 6px;
  padding-bottom: 11px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 700;

  border-bottom: 1px solid var(--basic-neutral);
}

.popup-menu__list {
  margin: 0;
  padding: 0;

  list-style: none;
  word-wrap: break-word;
}

.popup-menu__link {
  display: block;
  padding: 8px 16px;

  font-size: 14px;
  line-height: 16px;
  color: var(--basic-extra-dark);
  text-decoration: none;
}

.popup-menu__link--current {
  pointer-events: none;
}

.popup-menu__link:hover {
  background-color: var(--accent-extra-light);
}

.popup-menu__link:focus {
  background-color: var(--accent-extra-light);
  outline: none;
}

.popup-menu__link:active {
  background-color: var(--accent-neutral);
}

/* класс для выбранного раздела выпадаюзего меню */

.popup-menu__link--current,
.popup-menu__link--current:hover {
  color: var(--basic-extra-light);
  background-color: var(--accent-bright);
}

/* phone */

.phone-link {
  font-weight: 700;

  color: var(--basic-extra-dark);
  text-decoration: none;

  border-radius: 26px;
}

.phone-link--size-s {
  display: block;
  min-width: 148px;
  max-width: 200px;
  padding: 6px 17px;

  font-size: 16px;
  line-height: 20px;
  text-align: end;
  word-wrap: break-word;
}

.phone-link--size-m {
  font-size: 20px;
  line-height: 24px;
}

.phone-link:hover {
  opacity: 0.6;
}

.phone-link:active {
  opacity: 0.3;
}

/* user menu */

.user-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  list-style-type: none;
}

.user-menu__item {
  position: relative;

  margin-top: 2px;
  margin-bottom: 2px;
}

.user-menu__item:not(:last-child) {
  margin-right: 16px;
}

/* поповер должен скрываться нажатием на страницу вне поповера через js*/

.popover {
  position: absolute;
  top: 125%;
  right: 0;
  z-index: 2;

  display: none;

  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: var(--basic-extra-dark);

  background-color: var(--basic-extra-light);
  border-radius: 4px;

  transition: 0.2s linear;
}

.popover--open {
  display: block;
}

.search__popover {
  padding: 24px 16px;
  box-shadow: var(--box-shadow-medium);
}

.search-form__field {
  position: relative;
  width: 324px;

  cursor: auto;
}

.search-form__field.different-padding {
  padding-right: 38px;
}

/* стили для кнопки сброса введённого в поисковую строку текста:
1. когда текст не введён, в т.ч. при фокусе: "display: none"
2. кнопка показывается когда в поисковую строку вводят первый символ
3. изменение opacity кнопки при :hover и :active */

.search-form__delete-button {
  position: absolute;
  top: 40px;
  right: 29px;

  display: none;
  width: 16px;
  height: 16px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 40%;
}

.search-form__delete-button--shown {
  display: block;
}

.search-form__delete-button:hover,
.search-form__delete-button:focus {
  opacity: 100%;
}

.search-form__delete-button:active {
  opacity: 20%;
}

.search-form__field::placeholder {
  color: var(--basic-neutral);
}

/* popover для личного кабинета и корзины */

.user-menu__popover {
  max-width: 445px;
  padding: 49px 48px 48px 48px;
  box-shadow: var(--box-shadow-large);
}

.user-menu__popover.different-padding {
  padding-right: 32px;
}

.user-menu__popover--empty {
  width: 288px;
  padding-left: 32px;

  text-align: center;

  box-shadow: var(--box-shadow-medium);
}

.popover__content {
  height: 100%;
}

.popover__title {
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  word-wrap: break-word;
}

.popover__title-link {
  font: inherit;
  color: inherit;
  text-decoration: inherit;
}

.popover__title-link:hover {
  opacity: 0.6;
}

.popover__title-link:active {
  opacity: 0.3;
}

.popover__form {
  margin: 31px 0 0;
}

.login-form__field {
  width: 324px;
}

.login-form__field:not(:last-of-type) {
  margin-bottom: 16px;
}

.login-form__field:last-of-type {
  margin-bottom: 30px;
}

.login-form__field::placeholder {
  color: var(--basic-extra-dark);
}

.login-form__field.different-padding {
  padding: 12px 15px 14px 13px;
  letter-spacing: -1px;
}

.login-form__act-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.login-form__act-link {
  display: inline-block;
  max-width: 320px;

  font-family: inherit;
  font-style: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  word-wrap: break-word;

  border-bottom: 1px solid var(--basic-extra-dark);
}

.login-form__act-link:hover {
  opacity: 0.6;
}

.login-form__act-link:active {
  opacity: 0.3;
}

.login-form__controls {
  display: flex;
  flex-wrap: wrap;

  align-content: flex-start;
}

.login-form__button {
  margin-top: 2px;
  margin-right: 24px;
  margin-bottom: 4px;
}

.popover__cart-list {
  min-width: 361px;
  margin: 31px 0 32px;
  padding: 0 0 31px;
  list-style: none;

  border-bottom: 1px solid var(--basic-light);
}

.cart-item {
  display: grid;
  grid-template-areas:
    "img title price btn"
    "img kilo-price price btn";
  grid-template-columns: auto 1fr 90px auto;
  align-items: center;
  column-gap: 16px;
}

.cart-item:not(:last-child) {
  margin-bottom: 24px;
}

.cart-item__title {
  grid-area: title;

  margin: 0 0 3px;

  line-height: 23px;
}

.cart-item__kilo-price {
  grid-area: kilo-price;

  margin: 0;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--basic-neutral);
}

.cart-item__price {
  grid-area: price;

  margin: 0;
  padding-left: 3px;
}

.cart-item__sign {
  display: inline-block;
  padding-left: 2.5px;
  padding-top: 2px;
}

.cart-item__img-container {
  grid-area: img;
}

.cart-item__img {
  object-fit: cover;
  border-radius: 50%;
}

.cart-item__button {
  position: relative;
  grid-area: btn;

  margin-right: 16px;
  padding: 0;

  background-color: transparent;
}

.cart-item__button:hover {
  opacity: 0.6;
}

.cart-item__button:active {
  opacity: 0.3;
}

.cart-item__button:focus {
  outline: 1px solid var(--basic-extra-dark);
}

.cart-item__button::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 16px;
  height: 16px;
  content: "";

  background: transparent;
}

.popover__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popover__button {
  margin-right: 15px;
}

.popover__total-price {
  margin: 3px 17px 0 0;
}

.popover__total-price-sign {
  padding-left: 2px;
}

/* social */

.social {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  list-style-type: none;
}

.social__item--margin-top {
  margin-top: 4px;
}

.social__item--margin-bottom {
  margin-bottom: 4px;
}

.social__item:not(:last-child) {
  margin-right: 16px;
}

.social__link {
  position: relative;

  display: block;
  width: 24px;
  height: 24px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  outline: 2px solid var(--basic-extra-light-opacity-20);

  transition: 0.2s linear;
}

.social__link::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;

  width: 20px;
  height: 20px;
  content: "";

  background-color: transparent;
  border-radius: 50%;

  transform: translateX(-50%) translateY(-50%);
  transition: 0.2s linear;
}

.social__link:hover::before {
  background-color: var(--basic-extra-dark);
}

.social__link:focus {
  background-color: var(--basic-extra-dark);
  outline-color: var(--basic-extra-dark);
  outline-offset: 0;
}

.social__link:active::before {
  background-color: var(--basic-extra-dark);
}

.social__link--vk {
  background-image: url("../img/icons/vk.svg");
}

.social__link--facebook {
  background-image: url("../img/icons/facebook.svg");
}

.social__link--instagram {
  background-image: url("../img/icons/instagram.svg");
}

/* breadcrumbs */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  list-style-type: none;
}

.breadcrumbs__item {
  margin-right: 29px;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__link {
  position: relative;

  display: block;
  max-width: 260px;

  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  color: var(--basic-extra-dark);
  text-decoration: none;
  word-wrap: break-word;

  border-bottom: 1px solid var(--basic-extra-dark);
}

.breadcrumbs__link:not([href]) {
  border: none;
}

.breadcrumbs__link[href]:hover {
  color: var(--basic-extra-dark-opacity-60);
  border-color: var(--basic-extra-dark-opacity-60);
}

.breadcrumbs__link[href]:active {
  color: var(--basic-extra-dark-opacity-30);
  border-color: var(--basic-extra-dark-opacity-30);
}

.breadcrumbs__link[href]::after {
  position: absolute;

  width: 12px;
  height: 12px;
  top: 4px;
  right: -21px;
  content: "";

  background-image: url("../img/icons/breadcrumbs-arrows.svg");
  background-repeat: no-repeat;
  background-size: contain;

  pointer-events: none;
}

/* offer */

.offer {
  display: grid;
  grid-template-rows:
    auto
    1fr
    auto;
  justify-items: start;
  height: 100%; /* чтобы кнопка при любой наполненности блока оставалось внизу */

  padding-left: 5.5px;
}

.offer__title {
  width: inherit;
  margin: 0;

  color: var(--basic-extra-dark);
  word-wrap: break-word;
}

.offer__title--size-l {
  margin-bottom: 21px;

  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
}

.offer__title--size-m {
  margin-bottom: 15px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.offer__text {
  width: inherit;
}

.offer__text--size-l {
  margin-bottom: 39px;
}

.offer__text--size-m {
  margin-bottom: 16px;
}

.offer__text-unit {
  width: inherit;
  margin: 0;

  word-wrap: break-word;
}

.offer__text-unit--size-l {
  margin-bottom: 12px;

  font-size: 18px;
  line-height: 24px;
}

.offer__text-unit--size-m {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 22px;
}

/* carousel */

.carousel {
  position: relative;

  display: grid;
  width: 100%;
}

.carousel__list {
  position: relative;

  grid-column: 1 / -1;
  grid-row: 1 / 3;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.carousel__slide {
  display: flex;
  align-items: center;
  padding-left: 65px;
}

.carousel__slide--inactive {
  position: absolute;
  top: 50%;
}

.carousel__slide--inactive .carousel__img-container {

  opacity: 0.4;
}

.carousel__slide--inactive .carousel__img-container::before {
  opacity: 0.4;
}

.carousel__slide--next {
  transform: translateX(763.5px) translateY(-50%) scale(0.29);
}

.carousel__slide--prev {
  transform: translateX(903px) translateY(-50%) scale(0.29);
}

.carousel__offer {
  display: none;

  width: 460px;
  margin-top: 50px;
  margin-right: 15px;
  margin-bottom: 50px;
}

.carousel__slide--current .carousel__img-container {
  transform: translateX(0);
}

.carousel__slide--current .carousel__offer {
  display: grid;
}

.carousel__img-container {
  position: relative;

  display: block;
  width: 348px;
  height: 554px;
  padding: 21px 21px 26px;
}

.carousel__img-container::before {
  position: absolute;
  top: 50%;

  width: 312px;
  height: 312px;
  content: "";

  background-color: var(--basic-extra-light-opacity-30);
  border-radius: 50%;

  transform: translateY(-50%);
}

.carousel__img-container > * {
  position: relative;
  z-index: 1;
}

.carousel__img {
  object-fit: contain;
}

.carousel__control {
  position: absolute;
  top: 50%;

  content: "";

  transform: translateY(-50%);
}

.carousel__control--prev {
  left: 542px;
}

.carousel__control--next {
  left: 854px;
}

.carousel__pagination-and-social-wrapper {
  z-index: 1;

  display: flex;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  justify-content: space-between;
  align-items: flex-end;
}

.carousel__pagination {
  margin: 0;
  gap: 8px;
}

.carousel__social {
  max-width: 400px;
  margin: 0;
}

/* pagination */

.pagination {
  display: flex;
  flex-wrap: wrap;

  padding: 0;

  list-style-type: none;
}

.pagination__item {
  margin-top: 2px;
  margin-bottom: 2px;
}

.pagination__item:not(:last-child) {
  margin-right: 2.5px;
}

/* feature */

.feature {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.feature--accent {
  position: relative;

  margin-bottom: 80px;
  padding: 81px 64px 80px;

  background-image: url("../img/pattern@1x.jpg");
  background-size: 144px;
  border-radius: 16px;
}

.feature--accent::before {
  position: absolute;
  top: 24px;
  right: 24px;
  bottom: 24px;
  left: 24px;

  content: "";

  background-color: var(--basic-extra-light);
  border-radius: inherit;
}

.feature--accent > * {
  position: relative;
  z-index: 1;
}

.feature__title {
  margin: 0 0 55px 0;

  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
  word-wrap: break-word;
}

.feature__content {
  align-self: center;

  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 570px);
  gap: 40px 30px;
}

.feature__card {
  border-radius: 16px;
}

.feature__product-list {
  align-self: center;
  margin: 0;
}

.feature__list {
  display: grid;
  gap: 40px 32px;
  width: 100%;
  align-self: center;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(auto-fill, 505px);

  list-style-type: none;
}

.feature__text-unit {
  margin: 0;

  color: var(--basic-dark);
  word-wrap: break-word;
}

.feature__text-unit--with-icon {
  display: grid;
  grid-template-columns: 48px 441px;
  gap: 16px;
}

.feature__text-unit--with-icon::before {
  display: block;
  grid-column: 1 / 2;
  width: 48px;
  height: 48px;
  content: "";

  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  border: 2px solid var(--basic-extra-dark);
  border-radius: 50%;
}

.feature__text-unit-with-icon-1::before {
  background-image: url("../img/icons/eskimo.svg");
}

.feature__text-unit-with-icon-2::before {
  background-image: url("../img/icons/cow.svg");
}

.feature__text-unit-with-icon-3::before {
  background-image: url("../img/icons/leaf.svg");
}

.feature__text-unit-with-icon-4::before {
  background-image: url("../img/icons/thermometer.svg");
}

/* ad-card: элемент анонсов/промо/объявлений */

.ad-card {
  padding: 40.5px 34.5px;

  background-color: var(--accent-neutral);
  background-size: contain;
  background-position: right bottom;
}

.ad-card--option-1 {
  background-image: url("../img/free-raspberry@1x.jpg");
  background-repeat: no-repeat;
}

.ad-card--option-2 {
  background-image: url("../img/free-marshmallow@1x.jpg");
  background-repeat: no-repeat;
}

.ad-card__offer {
  width: 324px;
}

/* post-card: класс для блоков рассылки/постов */

.post-card {
  min-height: 220px;
  padding: 32px;

  background-color: var(--basic-extra-light);
}

.post-card--post-1 {
  background-image: url("../img/fruit-sorbet@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.post-card--accent {
  position: relative;

  padding-top: 32.5px;
  padding-right: 30px;
  padding-bottom: 31px;

  background-image: url("../img/linear-pattern@1x.jpg");
}

.post-card--accent::before {
  position: absolute;
  top: 6px;
  right: 6px;
  bottom: 6px;
  left: 6px;

  content: "";

  background-color: var(--basic-extra-light);
  border-radius: inherit;
}

.post-card--accent > * {
  position: relative;
  z-index: 1;
}

.post-card__content {
  display: grid;
  height: 100%; /* чтобы при любой наполненности блока кнопка оставалась внизу */
}

.post-card__text-unit {
  width: 506px;
  margin: 0 0 12px;

  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark);
  word-wrap: break-word;
}

.post-card__text-unit--tight {
  width: 305px;
}

.post-card__title {
  width: 305px;
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-extra-dark);
  word-wrap: break-word;
}

.post-card__link {
  display: block;

  font: inherit;
  line-height: inherit;
  color: inherit;
  text-decoration: none;

  transition: 0.2s linear;
}

.post-card__link:hover {
  opacity: 0.6;
}

.post-card__link:active {
  opacity: 0.3;
}

/* pictorial-section */

.pictorial-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 64px;
  justify-content: space-between;
  align-items: center;

  background-color: #f5f5f5;
  background-size: cover;
  border-radius: 16px;
}

.pictorial-section--delivery {
  min-height: 534px;

  background-image: url("../img/assorted@1x.jpg");
  background-repeat: no-repeat;
}

.pictorial-section--contacts {
  min-height: 492px;

  background-image: url("../img/icecream-cones@1x.jpg");
  background-repeat: no-repeat;
}

.pictorial-section__text--delivery {
  max-width: 410px;
  margin-top: 35px;
  margin-bottom: 35px;
  padding-left: 36px;
}

.pictorial-section__title {
  margin: 0 0 23px;
  padding-top: 5px;

  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: left;
  word-wrap: break-word;
}

.pictorial-section__text-unit {
  margin: 0;

  color: var(--basic-dark);
  word-wrap: break-word;
}

/* deal-card: класс для блоков с формой заказа и контактами */

.deal-card {
  padding: 41px 40px 41px 41px;

  background-color: var(--basic-extra-light);
  border-radius: 8px;
}

.deal-card--delivery {
  max-width: 500px;

  box-shadow: var(--box-shadow-large);
}

.deal-card--contacts {
  margin-right: auto;
  padding-bottom: 39px;

  max-width: 343px;

  box-shadow: var(--box-shadow-medium);
}

.deal-card__text {
  margin: 0;
}

.deal-card__text-unit {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark);
  word-wrap: break-word;
}

.deal-card__text-unit--delivery {
  margin-bottom: 32px;
}

.deal-card__text-unit--contacts {
  margin-bottom: 12px;
}

.deal-card__address {
  margin-bottom: 30px;

  font-style: normal;
}

.deal-card__address-text {
  display: block;
  margin-bottom: 24px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-extra-dark);
}

.deal-card__comment {
  font-size: 14px;
  line-height: 20px;
}

.deal-card__button {
  padding: 13px 32px;
}

/* формы*/

/* subscribe-form */

.subscribe-form {
  display: grid;
  align-self: end;
  grid-template-columns: 1fr auto;
  gap: 24px;
}

.subscribe-form__field {
  width: 100%;
}

.subscribe-form__field::placeholder {
  color: var(--basic-neutral);
}

/* aside */

.page-main__aside {
  align-self: center;
  margin-bottom: 76px;
}

/* order-form */

.order-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.order-form__row {
  position: relative;

  display: grid;
  grid-template-columns: 117px 287px;
  grid-template-rows: auto;
  gap: 8px 16px;
}

.order-form__label-wrapper {
  display: grid;
  grid-row: 1 / 2;
  grid-template-columns: repeat(2, auto);
  justify-items: start;
  justify-content: start;
}

.order-form__label-wrapper--date {
  grid-column: 1 / 2;
}

.order-form__label-wrapper--phone {
  grid-column: 2 / 3;
}

.order-form__label-wrapper--address {
  grid-column: 1 / -1;
}

.order-form__label {
  line-height: 20px;
  font-weight: 700;
  word-break: break-all;
}

.order-form__label:hover + .form-field:disabled {
  border-color: var(--basic-neutral);
}

.tooltip {
  position: relative;

  width: 20px;
  height: 20px;
  padding: 0;

  background: transparent url("../img/icons/info.svg") no-repeat center;
  background-size: 14px;
  border: none;

  cursor: pointer;

  transition: 0.2s linear;
}

.tooltip__text {
  position: absolute;
  top: -6.5px;
  left: 114%;
  z-index: 1;

  display: none;
  width: max-content;
  max-width: 170px;
  padding: 9px 8px;

  text-align: start;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--basic-dark);
  word-wrap: break-word;

  background-color: var(--basic-extra-light);
  border: 1px solid var(--basic-neutral);
  border-radius: 1px;
  box-shadow: var(--box-shadow-special-small);

  cursor: auto;
  pointer-events: none;
}

.tooltip__text::after {
  position: absolute;
  top: 9px;
  left: -4.5px;

  width: 15px;
  height: 15px;
  content: "";

  background-color: var(--basic-extra-light);
  border: 1px solid var(--basic-neutral);
  transform: rotate(-45deg);
  clip: rect(0 0 9px 9px);
}

.tooltip:hover .tooltip__text,
.tooltip:focus .tooltip__text {
  display: block;
}

.order-form__tooltip:hover,
.order-form__tooltip:focus {
  outline: none;
}

.order-form__field {
  grid-row: 2 / 3;
}

.order-form__field--date {
  grid-column: 1 / 2;
  max-width: 117px;
}

.order-form__field--phone {
  grid-column: 2 / 3;
}

.order-form__field--address {
  grid-column: 1 / -1;
}

.order-form__field::placeholder {
  color: var(--basic-neutral);
}

.order-form__sign {
  grid-row: 3 / 4;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-dark);
  word-break: break-all;
}

.order-form__sign--date {
  grid-column: 1 / 2;
}

.order-form__sign--phone {
  grid-column: 2 / 3;
}

.order-form__sign--address {
  grid-column: 1 / -1;
}

.order-form__button {
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 12px;
}

/* catalog */

.catalog__filters {
  margin-bottom: 32px;
}

.catalog__product-list {
  margin: 0 auto 13px;
}

.catalog__controls-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 42px 0;
}

.catalog__button {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 50%;

  transform: translateX(-50%);
}

.catalog__products {
  margin: 0 auto;
}

.catalog__pagination-wrapper {
  display: flex;
  align-items: center;
  max-width: 395px;
  margin-top: 3px;
  margin-left: auto;
  margin-bottom: 3px;
}

.catalog__pagination {
  max-width: 235px;
  margin: 0;
  justify-content: center;
}

/* catalog-form */

.catalog-form {
  display: flex;
  flex-wrap: wrap;
}

.catalog-form__filter {
  max-width: 1170px;
}

.catalog-form__filter:not(:last-child) {
  margin-right: 24px;
  margin-bottom: 16px;
}

.catalog-filter {
  display: grid;
  justify-items: start;
  margin-left: 0;
  padding: 0;

  border: none;
}

.catalog-filter__label {
  border-radius: 8px;
  cursor: pointer;
}

.catalog-filter__label,
.catalog-filter__title,
.catalog-filter__select {
  max-width: inherit;

  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  word-break: break-all;
}

.catalog-filter__title {
  margin-bottom: 8px;
  margin-left: 14px;
}

.catalog-filter__label--with-icon {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 8px;
  align-items: center;
}

.catalog-filter__label--with-icon::before {
  grid-column: 1 / 2;

  width: 16px;
  height: 16px;
  content: "";

  background-color: transparent;
}

.catalog-filter__label--radio::before {
  border: 1.33px solid var(--basic-extra-dark);
  border-radius: 50%;
}

.catalog-filter__label--checkbox::before {
  background-image: url("../img/icons/checkbox-empty.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.catalog-filter__input:checked ~ .catalog-filter__label--radio::before {
  background-image: radial-gradient(circle at center, var(--basic-extra-dark) 3px, transparent 3.2px);
}

.catalog-filter__input:checked ~ .catalog-filter__label--checkbox::before {
  background-image: url("../img/icons/checkbox-tick.svg");
}

.catalog-filter__label--radio:hover::before {
  border-color: var(--basic-extra-light);
}

.catalog-filter__label--checkbox:hover::before {
  background-image: url("../img/icons/checkbox-empty-focus.svg");
}

.catalog-filter__input:checked ~ .catalog-filter__label--radio:hover::before {
  background-image: radial-gradient(circle at center, var(--basic-extra-light) 3px, transparent 3.2px);
}

.catalog-filter__input:checked ~ .catalog-filter__label--checkbox:hover::before {
  background-image: url("../img/icons/checkbox-tick-focus.svg");
}

.catalog-filter__input:focus + .catalog-filter__label--radio::before {
  border-color: var(--basic-extra-light);
  background-image: radial-gradient(circle at center, var(--basic-extra-light) 3px, transparent 3.2px);
  outline: none;
}

.catalog-filter__input:checked:focus + .catalog-filter__label--checkbox::before {
  background-image: url("../img/icons/checkbox-tick-focus.svg");
  outline: none;
}

.catalog-filter__input:not(:checked):focus + .catalog-filter__label--checkbox::before {
  background-image: url("../img/icons/checkbox-empty-focus.svg");
  outline: none;
}

.catalog-filter__input:disabled + .catalog-filter__label {
  pointer-events: none;
}

.catalog-filter__input:disabled + .catalog-filter__label::before {
  pointer-events: none;
  opacity: 0.4;
}

.catalog-filter__wrapper {
  position: relative;

  min-width: 196px;
  max-width: inherit;
  padding: 8px 16px;

  background-color: var(--basic-extra-light-opacity-30);
  border: none;
  border-radius: 20px;
}

.catalog-filter__range-field {
  width: 30px;
  padding: 0;

  font: inherit;

  background-color: transparent;
  border: none;
  cursor: pointer;
  appearance: textfield;
}

.catalog-filter__range-field::-webkit-outer-spin-button,
.catalog-filter__range-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter__range-scale {
  position: relative;
  top: 50%;

  width: 164px;
  height: 2px;
  margin: auto;

  background-color: var(--basic-dark-opacity-30);
  border-radius: 2px;
  transform: translateY(-50%);
}

.catalog-filter__range-bar {
  position: absolute;
  height: 2px;
  background-color: var(--basic-dark);
}

.catalog-filter__range-toggle {
  position: absolute;

  width: 16px;
  height: 16px;

  background: radial-gradient(circle at center, var(--basic-extra-light) 2px, var(--basic-extra-dark) 2.2px);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: all;
}

.catalog-filter__range-toggle:hover {
  background-image: radial-gradient(circle at center, var(--basic-extra-dark) 2px, var(--basic-extra-light) 2.2px);
}

.catalog-filter__range-toggle:focus {
  background-image: radial-gradient(circle at center, var(--basic-extra-dark) 2px, var(--basic-extra-light) 2.2px);
  outline: 2px solid var(--basic-extra-dark);
}

.catalog-filter__range-toggle:active {
  background: var(--basic-extra-dark);
  outline: none;
}

.catalog-filter__range-toggle--min {
  top: -7px;
  left: -8px;
}

.catalog-filter__range-toggle--max {
  top: -7px;
  right: -8px;
}

.catalog-filter__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;

  list-style-type: none;
}

.catalog-filter__item:not(:last-child) {
  margin-right: 17px;
}

.catalog-filter__select {
  min-height: 36px;
  padding-right: 35px;

  background-image: url("../img/icons/sort-arrow.svg");
  background-repeat: no-repeat;
  background-position: bottom 50% right 13px;
  background-size: 16px;

  cursor: pointer;
  appearance: none;
}

.catalog-filter__select:hover {
  background-color: var(--basic-extra-light-opacity-50);
}

.catalog-filter__select:focus {
  background-color: var(--basic-extra-light-opacity-40);
  outline: 2px solid var(--basic-extra-light);
}

.catalog-form__button {
  margin-top: 11px;
}

/* product-list */

.product-list {
  display: grid;
  width: 100%;
  padding: 0;
  grid-template-columns: repeat(auto-fill, 270px);
  gap: 41px 30px;

  list-style-type: none;
}

/* product-card: блок для продукции */

.product-card {
  position: relative;

  display: grid;
  padding: 0 40px 23px;
  grid-template-areas:
    "img img"
    "title title"
    "desc desc"
    "price btn";
  grid-template-rows:
    auto
    auto
    1fr
    auto;
  grid-template-columns: 1fr auto;
  gap: 0 15px;
  justify-items: center;

  text-align: center;
}

.product-card::before {
  position: absolute;
  top: 51px;
  right: 0;
  bottom: -1px;
  left: 0;

  content: "";

  background-color: var(--basic-extra-light);
  border-radius: 8px;
}

.product-card > * {
  position: relative;
  z-index: 1;
}

.product-card__title {
  grid-area: title;

  max-width: 190px;
  align-self: start;
  margin: 0;
  margin-bottom: 8px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  word-wrap: break-word;
}

.product-card__description {
  grid-area: desc;
  max-width: 190px;
  margin: 0;
  margin-bottom: 16px;

  color: var(--basic-dark);
  word-wrap: break-word;
}

.product-card__link {
  display: block;

  font: inherit;
  color: inherit;
  text-decoration: inherit;
  word-wrap: inherit;
}

.product-card__link:not(.product-card__img-link):hover {
  opacity: 0.6;
}

.product-card__img-link {
  grid-area: img;
  margin-bottom: 16px;

  transition: 0.2s linear;
}

.product-card__img {
  border-radius: 50%;
  box-shadow: var(--box-shadow-small);
  object-fit: cover;
}

.product-img {
  display: block;
}

.product-card__price {
  grid-area: price;
  max-width: 140px;
  justify-self: start;
  align-self: center;
  margin: 0;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  word-spacing: 2.5px;
  word-wrap: break-word;
}

.product-card__button {
  grid-area: btn;
  justify-self: end;
}

/* commerce */

.commerce {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(2, auto);
  gap: 8px 24px;

  list-style-type: none;
}

.commerce__item {
  position: relative;
}

.commerce__link {
  display: block;
  max-width: 190px;

  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  text-decoration: none;
  word-wrap: break-word;

  transition: 0.2s linear;
}

.favor-icon {
  position: absolute;
  top: 3px;
  left: -23px;

  display: block;
  width: 14px;
  height: 13px;

  fill: var(--basic-extra-dark);

  transition: 0.2s linear;
}

.commerce__link:hover {
  opacity: 0.6;
}

.commerce__link:hover + .favor-icon,
.commerce__link:focus + .favor-icon {
  opacity: 0.6;
}

.commerce__link:active {
  opacity: 0.3;
}

.commerce__link:active + .favor-icon {
  opacity: 0.3;
}

.commerce__link--favor {
  position: relative;

  font-weight: 700;
}

.commerce__link--favor::before {
  position: absolute;
  top: 2px;
  left: -24px;

  display: block;
  width: 16px;
  height: 16px;
  content: "";

  background-color: transparent;
  background-image: url("../img/icons/heart.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* модальное окно  */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
}

/* класс для открытия модального окна */

.modal-container--open {
  display: flex;
}

.modal {
  position: relative;

  max-width: 570px;
  margin: auto;
  padding: 65px 64px;

  background-color: var(--basic-extra-light);
  border-radius: 8px;
  box-shadow: var(--box-shadow-large);
}

.modal__close-button {
  position: absolute;
  top: 22px;
  right: 22px;

  width: 40px;
  height: 40px;
  padding: 0;
  content: "";

  background-color: transparent;
  border: none;
  background-image: url("../img/icons/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  cursor: pointer;
}

.modal__close-button:hover {
  opacity: 0.6;
}

.modal__close-button:active {
  opacity: 0.3;
}

.modal__title {
  margin: 0 0 31px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.feedback-form__field-group {
  margin: 0;
}

.feedback-form__field-group:not(:last-of-type) {
  margin-bottom: 16px;
}

.feedback-form__field-group:last-of-type {
  margin-bottom: 26px;
}

.feedback-form__field {
  width: 442px;
}

.feedback-form__field::placeholder {
  color: var(--basic-neutral);
}

.feedback-form__field--text {
  height: 149px;

  resize: none;
}

.feedback-form__button {
  margin-left: auto;
}
